
insultTargets/chris.csv
insultTargets/deion.csv
insultTargets/fel.csv
insultTargets/james.csv
insultTargets/keagan.csv
insultTargets/maj.csv
insultTargets/mark.csv
insultTargets/skye.csv
keys.py
targetsinfo.py
